@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');
body {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}
html {
    height: 150%;
}
.container {
    width: 33%;
    height: 33%;
}
.main-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px;
    background-color: azure;
    transition: 0.8s;
}  
.form-auth {
    display: block;
    margin-bottom: 9px;
    padding: 0px 10px 0px 10px;
    margin-right: 11px;
    margin-left: 11px;
    color: rgb(10, 10, 10);
    transition: 0.5s;
    border: 0px;
}
.form-auth:hover {
    transition: 0.5s;
    color:rgb(110, 110, 110);
}
#login-input, #password-input {
    border: 0px;
    outline: none;
    margin-right: 21px;
    margin-left: 21px;
    padding-left: 4px;
}
#login-input:placeholder, #password-input:placeholder {
    font-family: 'Montserrat', sans-serif;
}
#button-auth {
    margin-bottom: 10px;
    background-color: azure;
    border-radius: 3px;
    /*border: 1px solid rgb(208, 255, 255);*/
}